<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <property name="LOGS_DIR" value="./logs"/>

    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <layout class="ch.qos.logback.classic.PatternLayout">
            <Pattern>[%d{MM-dd HH:mm:ss}] %-5level %logger{36} - %msg%n</Pattern>
        </layout>
    </appender>

    <appender name="FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${LOGS_DIR}/logback.log</file>
        <encoder>
            <pattern>[%d{yyyy-MM-dd HH:mm:ss}:%-3relative][%thread] %-5level %logger{35} - %msg%n</pattern>
        </encoder>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>${LOGS_DIR}/logback.%d{yyyy-MM-dd}.log.gz</fileNamePattern>
            <maxHistory>30</maxHistory>
        </rollingPolicy>
    </appender>

    <appender name="FILE2" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${LOGS_DIR}/logback2.log</file>
        <encoder>
            <pattern>[%d{yyyy-MM-dd HH:mm:ss}:%-3relative][%thread] %-5level %logger{35} - %msg%n</pattern>
        </encoder>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>${LOGS_DIR}/logback2.%d{yyyy-MM-dd}.log.gz</fileNamePattern>
            <maxHistory>30</maxHistory>
        </rollingPolicy>
    </appender>

    <!--    <logger name="org.springframework.web" level="DEBUG">-->
    <!--        <appender-ref ref="STDOUT"/>-->
    <!--        <appender-ref ref="FILE"/>-->
    <!--    </logger>-->

    <logger name="com.hana4.demo.controller.PostController" level="DEBUG">
        <appender-ref ref="FILE2"/>
    </logger>

    <root level="INFO">
        <appender-ref ref="STDOUT"/>
    </root>

    <logger name="jdbc.sqlonly" level="OFF"/> <!-- SQL문만 표시 -->
    <logger name="jdbc.sqltiming" level="INFO"/> <!-- SQL문 + 수행시간 표시 -->
    <logger name="jdbc.resultsettable" level="INFO"/> <!-- Result Table을 표시 -->
    <logger name="jdbc.audit" level="OFF"/> <!-- ResultSet을 제외한 모든 정보를 표시 -->
    <logger name="jdbc.resultset" level="OFF"/> <!-- ResultSet을 포함한 모든 정보를 표시 표시 -->
    <logger name="jdbc.connection" level="OFF"/> <!-- DB연결/해제 관련 로그 표시 -->
</configuration>
